*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    float: left;
    height: 100vh;
    width: 35%;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner #box-text{
    opacity: 0.5;
    background-color: black;
    width: 100%;
    height: 10rem;
    margin-top: 30%;
}

#odin{
    position: absolute;
    font-family: 'norse-bold';
    color: white;
    font-size: 7rem;
    margin-left: 15%;
    margin-top: -7%; 
    z-index: 10;
    opacity: 1;
}

@font-face {
    font-family: 'norse-bold';
    src: url("./texts/Norse-Bold.otf");
}